.Top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .Logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    margin-top: 2.5vw;
    width: 16vh;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .logo-image:hover {
    transform: scale(1.1);
  }
  
  .Username {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .Username a {
    color:navy;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .Username a:hover {
    color:forestgreen;
  }
  