.AMA-container {
  margin-top: 45px;
  background-image: url('cloud-4058_512.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
  
  /* Ensures content can scroll */
}

.new-thread {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  background-color: #fff;
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.new-thread input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #eaeaeb;
  color:black
}
.heading{
  color:black;
  font-size: 30px;
}
.new-thread button {
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  background-color: #3da6db;
  width: 20%;
}

.new-thread button:hover {
  background-color: #3291b8;
}

.Threads {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  width: 85%;
}

.Threads ul {
  list-style-type: none;
  padding: 0;
}

.Threads li {
  margin: 5px 0;
}

.Threads button {
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3da6db;
  width: 100%;
}

.Threads button:hover {
  background-color: #3291b8;
}

.Thread-messages {
  width: 85%;
  background-color: #f1f1f1;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
}

.Thread-messages div {
  margin-bottom: 10px;
}

.Thread-messages strong {
  font-weight: bold;
}

textarea {
  width: 85%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

button {
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3da6db;
}

button:hover {
  background-color: #3291b8;
}
