.AMA-container {
  margin-top: 45px;
  background-image: url('ama.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
  height:100vh;
}

.new-thread {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  background-color: #fff;
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.new-thread input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #eaeaeb;
  color: black;
}

.new-thread button {
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  background-color: #3da6db;
  width: 20%;
}

.new-thread button:hover {
  background-color: #3291b8;
}

.threads-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: black;
  width: 75%;
}

.headingdiv {
  color: rgb(22, 80, 104);
  font-size: 25px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Threads {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  width: 25%;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  padding: 10px;
  border-radius: 20px;
  overflow-y: auto;
}

.Th-msg {
  width: 75%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f3f3f3;
}

.Threads ul {
  list-style-type: none;
  padding: 0;
}

.Threads li {
  margin: 5px 0;
}

.Threads button {
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #96c7df;
  width: 100%;
}

.Threads button:hover {
  background-color: #3291b8;
}

.Thread-messages div {
  margin-bottom: 10px;
}

.Thread-messages strong {
  font-weight: bold;
}

textarea {
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  resize: vertical;
}

button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 115px;
  cursor: pointer;
  background-color: #3da6db;
}

button:hover {
  background-color: #3291b8;
}