.hobbies-container {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding: 20px;
    background-color: whitesmoke;
    height: 100vh;
    background-image: url('hobbies.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow: auto; */
}

.top-hobbies {
    margin-top: 10px;
    background-color: white;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.main-box-hob{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.hobbies-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.hobby-input {
    width: 50%;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.add-hobby-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.add-hobby-button:hover {
    background-color: #0056b3;
}

.hobby-item {
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: rgb(203, 197, 197);
    cursor: pointer;
    transition: background-color 0.3s;
}

.hobby-item:hover {
    background-color: #f0f0f0;
}

.hobby-item.selected {
    background-color: #e0e0e0;
    color: #333;
}

.hobby-chat-container {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}