
.landingpage {
  background-image: url('landingpage3.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  /* Align items at the top */
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #000;
  padding: 20px;
  text-align: center;
  overflow: auto;
}


.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
  /* height: 50%; */
}

/* Header section inside the top */
.landingheader {
 
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  
}


.mainbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.logobox{
  background-color: white;
  height:200px;
  width:100%;
}

.loginbox {
  margin-top: 10050px;
  width: 30%;
  margin: 20px 0;
  border-radius: 100px;
}

/* Buttons */
.landingpage button {
  background-color: #0a74da;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landingpage button:hover {
  background-color: #005f99;
}

/* Logout and Profile */
.landingpage .logout-profile {
  margin-top: 20px;
}

/* Profile section styling */
.landingpage .profile {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #333;
}

.landingpage .profile img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}